.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 68px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #ffffff;
}
