.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 40px;
  border-color: #7f75f0;
  border-width: 20px;
  border-style: solid;
}
