.center_bottom {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #ffffff;
}
